footer {
    position: relative;
    z-index: 6;
    border-top: 1px solid #fff;
    color: #fff;
    .inner {
        display: flex;
        justify-content: space-between;
    }

    .copyright {
        padding: 10px;
        font-weight: 500;
        font-size: 18px;
        @include mobile {
            font-size: 12px;
        }
    }

    .icon-wrap {
        display: flex;

        a {
            padding: 10px;
            font-weight: 500;
            font-size: 18px;
            display: flex;
            align-items: center;
            @include mobile {
                font-size: 12px;
            }
        }
    }
}
